<body>
  <div class="container-fluid2">
    <div id="purchase-container">
      <h3 id="userFirst"><b>Purchase Your Tickets </b> </h3>
      

      <div class="table-container">
        <table class="table table-hover">
          <thead>
            <tr>

             
              <th scope="col">Movie</th>
              <th scope="col">Genre</th>
              <th scope="col">Price</th>
              <th scope="col">ShowDate</th>
              <th scope="col">ShowTime</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ticket of ticketsForPurchase">
              <td>{{ticket.movieTitle}}</td>
              <td>{{ticket.genre}}</td>
              <td>{{ticket.price}}</td>
              <td>{{ticket.showTime}}</td>
              <td>{{ticket.showTimeSlot}}</td>
            </tr>
          </tbody>
          <br>
        </table>
       

        <p class="col-1" id="purchaseTotalAmt"><b>Total Cost: $ {{purchase.price}}</b></p>
        <input type="submit" class="btn btn-log btn-block our-btn" value="Purchase" (click)="sendPurchase()" />
      </div>
    </div>
  </div>


</body>
